 body::-webkit-scrollbar {
    display: none;
}
.page-container-controlpanel {
    position: relative;
    min-height: 100vh;
    padding-right: 240px;
    transition-property: padding;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media (max-width: 991px) {
    .page-container-controlpanel {
        position: static;
        padding-right: 0;
    }
}

/*Hide Scrollbar*/
    .page-container-controlpanel .page-sidebar::-webkit-scrollbar {
        display: none !important;
    } 
.page-container-controlpanel .page-sidebar {
    display: block;
    /*position: absolute;*/
    position: fixed;
    /*overflow: scroll;*/
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    z-index: 1039;
    background-color: #4c80af;
    transition-property: -webkit-transform, transform;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    /*opacity:0.8;*/
    /*Hide Scrollbar*/
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    .page-container-controlpanel .page-sidebar a {
        text-decoration: none !important;
    }
    .modal{
        z-index:99999 !important;
    }

.sidebar-background {
    /*position: absolute;*/
    position: fixed;
    overflow: scroll;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background: #191919;
    /*background-image:url('../img/sidebar.jpg');*/
    background-size: cover;
    background-position: 50%;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
}

@media (max-width: 991px) {
    .page-container-controlpanel .page-sidebar {
        /*position: absolute;*/
        position: fixed;
        overflow: scroll;
        -webkit-transform: translateX(240px);
        transform: translateX(240px);
    }
}

.page-container-controlpanel.alt {
    padding-right: 0;
}

    .page-container-controlpanel.alt .page-sidebar {
        -webkit-transform: translateX(240px);
        transform: translateX(240px);
    }

@media (max-width: 991px) {
    .page-container-controlpanel.alt {
        max-height: 100vh;
        overflow: hidden;
    }

        .page-container-controlpanel.alt .page-sidebar {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
}
