@font-face {
    font-family: 'Vazir';
    src: url("../fonts/Vazir-Regular-FD-UL.eot") format("embedded-opentype"), url("../fonts/Vazir-Regular-FD-UI#iefix") format("embedded-opentype"), url("../fonts/Vazir-Regular-FD-UI.ttf") format("truetype"), url("../fonts/Vazir-Regular-FD-UI.woff") format("woff"), url("../fonts/Vazir-Regular-FD-UI.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Bold-FD-UI.eot');
    src: url('../fonts/Vazir-Bold-FD-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold-FD-UI.woff2') format('woff2'), url('../fonts/Vazir-Bold-FD-UI.woff') format('woff'), url('../fonts/Vazir-Bold-FD-UI.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Black-FD-UI.eot');
    src: url('../fonts/Vazir-Black-FD-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Black-FD-UI.woff2') format('woff2'), url('../fonts/Vazir-Black-FD-UI.woff') format('woff'), url('../fonts/Vazir-Black-FD-UI.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Medium-FD-UI.eot');
    src: url('../fonts/Vazir-Medium-FD-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium-FD-UI.woff2') format('woff2'), url('../fonts/Vazir-Medium-FD-UI.woff') format('woff'), url('../fonts/Vazir-Medium-FD-UI.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Light-FD-UI.eot');
    src: url('../fonts/Vazir-Light-FD-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light-FD-UI.woff2') format('woff2'), url('../fonts/Vazir-Light-FD-UI.woff') format('woff'), url('../fonts/Vazir-Light-FD-UI.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Thin-FD-UI.eot');
    src: url('../fonts/Vazir-Thin-FD-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Thin-FD-UI.woff2') format('woff2'), url('../fonts/Vazir-Thin-FD-UI.woff') format('woff'), url('../fonts/Vazir-Thin-FD-UI.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-ED';
    src: url("../fonts/Vazir-Regular-UI#iefix") format("embedded-opentype"), url("../fonts/Vazir-Regular-UI.eot") format("embedded-opentype"), url("../fonts/Vazir-Regular-UI.ttf") format("truetype"), url("../fonts/Vazir-Regular-UI.woff") format("woff"), url("../fonts/Vazir-Regular-UI.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-ED';
    src: url('../fonts/Vazir-Bold-UI.eot');
    src: url('../fonts/Vazir-Bold-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold-UI.woff2') format('woff2'), url('../fonts/Vazir-Bold-UI.woff') format('woff'), url('../fonts/Vazir-Bold-UI.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-ED';
    src: url('../fonts/Vazir-Black-UI.eot');
    src: url('../fonts/Vazir-Black-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Black-UI.woff2') format('woff2'), url('../fonts/Vazir-Black-UI.woff') format('woff'), url('../fonts/Vazir-Black-UI.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-ED';
    src: url('../fonts/Vazir-Medium-UI.eot');
    src: url('../fonts/Vazir-Medium-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium-UI.woff2') format('woff2'), url('../fonts/Vazir-Medium-UI.woff') format('woff'), url('../fonts/Vazir-Medium-UI.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-ED';
    src: url('../fonts/Vazir-Light-UI.eot');
    src: url('../fonts/Vazir-Light-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light-UI.woff2') format('woff2'), url('../fonts/Vazir-Light-UI.woff') format('woff'), url('../fonts/Vazir-Light-UI.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-ED';
    src: url('../fonts/Vazir-Thin-UI.eot');
    src: url('../fonts/Vazir-Thin-UI.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Thin-UI.woff2') format('woff2'), url('../fonts/Vazir-Thin-UI.woff') format('woff'), url('../fonts/Vazir-Thin-UI.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

p, h1, h2, h3, h4, h5, span, a, i, b, label, legend, .btn, input, textarea, select, ol, ul, q, blockquote, address, sub, sup {
    font-family: "Vazir", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5 !important;
}

p {
    margin: 5px 0 !important;
    line-height: 28px;
}

.EnDigit {
    font-family: "Vazir-ED" !important;
}

@media (max-width: 767px) {
    /* .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {    
      background-color: #204d74;
  } */
    .fontstyle .title {
        font-size: 24px;
    }

    .fontstyle h1 {
        font-size: 22px;
    }

    .fontstyle h2 {
        font-size: 21px;
    }

    .fontstyle h3 {
        font-size: 20px;
    }

    .fontstyle h4 {
        font-size: 19px;
    }

    .fontstyle p {
        font-size: 16px;
    }

    .fontstyle .p-little {
        font-size: 90%;
    }

    .fontstyle q {
        font-size: 16px;
    }

    .fontstyle address {
        font-size: 16px;
    }

    .fontstyle a {
        font-size: 16px;
    }

    .fontstyle label {
        font-size: 16px;
    }

    .fontstyle legend {
        font-size: 18px;
        font-weight: bold;
        padding: 0 10px 0 0;
    }

    .fontstyle textarea {
        font-size: 15px;
    }

    .fontstyle input {
        font-size: 15px;
    }

    .fontstyle select {
        font-size: 15px;
        padding: 2px;
    }
}
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width:991px) {
    /* .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    background-color: #449d44; 
}*/
    .fontstyle .title {
        font-size: 26px;
    }

    .fontstyle h1 {
        font-size: 24px;
    }

    .fontstyle h2 {
        font-size: 22px;
    }

    .fontstyle h3 {
        font-size: 20px;
    }

    .fontstyle h4 {
        font-size: 18px;
    }

    .fontstyle p {
        font-size: 16px;
    }

    .fontstyle .p-little {
        font-size: 90%;
    }

    .fontstyle q {
        font-size: 16px;
    }

    .fontstyle address {
        font-size: 16px;
    }

    .fontstyle a {
        font-size: 16px;
    }

    .fontstyle label {
        font-size: 16px;
    }

    .fontstyle legend {
        font-size: 18px;
        font-weight: bold;
    }

    .fontstyle textarea {
        font-size: 15px;
    }

    .fontstyle input {
        font-size: 15px;
    }

    .fontstyle select {
        font-size: 15px;
        padding: 2px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) {
    /* .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    background-color: #ac2925;
  } */
    .fontstyle .title {
        font-size: 26px;
    }

    .fontstyle h1 {
        font-size: 24px;
    }

    .fontstyle h2 {
        font-size: 21px;
    }

    .fontstyle h3 {
        font-size: 20px;
    }

    .fontstyle h4 {
        font-size: 16px;
    }

    .fontstyle p {
        font-size: 15px;
    }

    .fontstyle .p-little {
        font-size: 90%;
    }

    .fontstyle q {
        font-size: 15px;
    }

    .fontstyle address {
        font-size: 15px;
    }

    .fontstyle a {
        font-size: 15px;
    }

    .fontstyle label {
        font-size: 15px;
    }

    .fontstyle legend {
        font-size: 18px;
        font-weight: bold;
    }

    .fontstyle textarea {
        font-size: 16px;
    }

    .fontstyle input {
        font-size: 16px;
    }

    .fontstyle select {
        font-size: 16px;
        padding: 2px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    background-color: #ffff00;
  } */
    .fontstyle .title {
        font-size: 26px;
    }

    .fontstyle h1 {
        font-size: 24px;
    }

    .fontstyle h2 {
        font-size: 22px;
    }

    .fontstyle h3 {
        font-size: 20px;
    }

    .fontstyle h4 {
        font-size: 16px;
    }

    .fontstyle p {
        font-size: 15px;
    }

    .fontstyle .p-little {
        font-size: 90%;
    }

    .fontstyle q {
        font-size: 15px;
    }

    .fontstyle address {
        font-size: 14px;
    }

    .fontstyle a {
        font-size: 14px;
    }

    div.fontstyle label {
        font-size: 14px;
    }

    .fontstyle legend {
        font-size: 22px;
        font-weight: bold;
    }

    .fontstyle textarea {
        font-size: 14px;
    }

    .fontstyle input {
        font-size: 14px;
    }

    .fontstyle select {
        font-size: 14px;
        padding: 2px;
    }
}
