<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="myConnectionString" connectionString="Data Source=sql.aeengo.com,1430;Initial Catalog=aeengo_DB;Persist Security Info=True;User ID=user_aeengo;Password=@|3eeP789521367" />-->
    <add name="myConnectionString" connectionString="Data Source=.;Initial Catalog=RBACSystem;Persist Security Info=True;User ID=sa;Password=beep" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.8.1" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>